* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Outfit", sans-serif;
    background-image: url("background.jpg");
    background-size: 100% 100%;
    background-position: top center;
    filter: brightness(200%);
  }
  .app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ); */
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(18, 18, 18, 0.4);
    border-radius: 16px;
    border-bottom: 3px solid #166f9b;
  
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #05577a;
  }
  header input:focus {
    background-color: rgba(18, 18, 18, 0.8);
  }
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location .city {
    color: #050544;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .location .date {
    color: #050544;
    font-size: 16px;
  }
  .current .temp {
    color: #050544;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
  }
  .current .temp span {
    font-weight: 200;
  }
  .current .weather {
    color: #050544;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }
  .current .hi-low {
    color: #020223;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 3px #03044f66;
  }
  